@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(130deg, rgb(17, 24, 39), rgb(47, 83, 166)) ;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(58, 67, 68, 0.724);
}

.slick-slide > div {
    margin: 0 0.5rem;
}

.container-bg {
    background-color: rgba(205, 209, 209, 0.033);
    border: 1px solid rgba(205, 209, 209, 0.033);
}

.icon-logo {
    background-image: url("/Criador-de-logos-crie-logos-fantásticos-instantaneamente-2024-.png");
    background-size: cover;
}